:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1;
  overflow: visible;
  
  svg {
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    overflow: visible;
  }
}
