<div class="skeleton-container" [attr.data-type]="type">
  <div class="skeleton-item" *ngFor="let item of [].constructor(count); let i = index">
    
    <!-- Search Result Skeleton -->
    <div *ngIf="type === 'search-result'">
      <div class="skeleton-header" *ngIf="showHeader">
        <div class="skeleton-model"></div>
        <div class="skeleton-actions" *ngIf="showActions">
          <div class="skeleton-action"></div>
          <div class="skeleton-action"></div>
        </div>
      </div>
      
      <div class="skeleton-content">
        <div class="skeleton-line" *ngFor="let line of [].constructor(lines); let j = index" 
             [class.short]="j === lines - 1"></div>
      </div>
      
      <div class="skeleton-references" *ngIf="showReferences">
        <div class="skeleton-reference" *ngFor="let ref of [1, 2]">
          <div class="skeleton-ref-title"></div>
          <div class="skeleton-ref-url"></div>
        </div>
      </div>
    </div>
    
    <!-- Card Skeleton -->
    <div *ngIf="type === 'card'" class="skeleton-card">
      <div class="skeleton-card-header"></div>
      <div class="skeleton-card-content">
        <div class="skeleton-line" *ngFor="let line of [].constructor(2)"></div>
      </div>
    </div>
    
    <!-- List Item Skeleton -->
    <div *ngIf="type === 'list-item'" class="skeleton-list-item">
      <div class="skeleton-avatar"></div>
      <div class="skeleton-list-content">
        <div class="skeleton-line skeleton-title"></div>
        <div class="skeleton-line skeleton-subtitle"></div>
      </div>
    </div>
    
    <!-- Custom Skeleton -->
    <div *ngIf="type === 'custom'" class="skeleton-custom">
      <div class="skeleton-line" *ngFor="let line of [].constructor(lines)"></div>
    </div>
    
  </div>
</div>