<div class="tab-navigation" [class]="'tab-navigation--' + variant + ' tab-navigation--' + size">
  @for (tab of tabs; track trackByTab($index, tab)) {
    <button 
      class="tab-button"
      [class.tab-button--active]="isActive(tab.id)"
      [class.tab-button--disabled]="tab.disabled"
      (click)="onTabClick(tab)"
      [disabled]="tab.disabled">
      
      @if (tab.icon) {
        <mat-icon class="tab-icon">{{ tab.icon }}</mat-icon>
      }
      <span class="tab-label">{{ tab.label }}</span>
      @if (tab.badge) {
        <span class="tab-badge">{{ tab.badge }}</span>
      }
    </button>
  }
</div>