<div class="search-suggestions" *ngIf="showSuggestions && suggestions.length > 0">
  <div 
    class="suggestion-item" 
    *ngFor="let suggestion of suggestions; trackBy: trackBySuggestion; let i = index"
    [class.selected]="i === selectedIndex"
    (click)="onSuggestionClick(suggestion)"
    (mouseenter)="onSuggestionHover(i)">
    
    <div class="suggestion-icon">
      <app-icon 
        [name]="getIconName()" 
        [size]="16" 
        [color]="getIconColor()">
      </app-icon>
    </div>
    
    <div class="suggestion-text">{{ suggestion }}</div>
    
    <div class="suggestion-go">
      <app-icon name="arrow-up-left" [size]="16" color="#3b82f6"></app-icon>
    </div>
  </div>
</div> 