<header class="search-results-header" *ngIf="isSearchResultsPage">
  <div class="header-content">
    <div class="header-left">
      <button class="mobile-menu-btn" (click)="toggleMobileMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
    <div class="header-right">
      <button class="header-action-btn" (click)="onShare()" matTooltip="Share results">
        <mat-icon>share</mat-icon>
      </button>
      <button class="header-action-btn" (click)="onBookmark()" matTooltip="Bookmark">
        <mat-icon>bookmark_border</mat-icon>
      </button>
    </div>
  </div>
</header>
